<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
    <form method="POST">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            
        </div>
        {% endif %}
        {% csrf_token %}
        <label for="">first value</label>
        <input type="number" name="first" autofocus id="first" class="form-control" placeholder="please enter the value" step="any"/>
        
        <br>
        <button type="submit">even | odd</button>
        <br>
        <br>
        <label for="">output</label>
        <input type="text" name="ope" value="{{res}}"  readonly="" class="form-control"/>
    </form>
</body>

</html>