{% include "header.html" %}

<div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Login details</h4>
            <p class="card-description">
             form elements
            </p>
            <form method="post" action="" class="forms-sample">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1"> User Name</label>
                <input type="text" name="username" value="{{data.username}}" class="form-control" id="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="exampleInputName1"> Name</label>
                <input type="text" name="name" value="{{data.name}}" class="form-control" id="name" placeholder="Enter your Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Email address</label>
                <input type="email" name="email" value="{{data.email}}" class="form-control" id="email" placeholder="enter yor Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword4">Password</label>
                <input type="password" name="password" value="{{data.password}}" class="form-control" id="password" placeholder="Password">
              </div>
              
              
              <button type="submit" class="btn btn-primary me-2">Sign up</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}