{% include 'header.html' %}  



<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Basic form elements</h4>
          <p class="card-description">
           form elements
          </p>
          <form method="post" action="" class="forms-sample">
            {% csrf_token %}
        
            <div class="form-group">
                <label for="exampleInputCode">Subject name</label>
                <input type="text" name="subject" value="{{data.subject}}" class="form-control" id="subject" required autofocus placeholder="Subject_code"/>
            </div>
            <div class="form-group">
                <label for="exampleInputCode">Subject code</label>
                <input id="exampleInputCode" type="number" name="code" value="{{data.code}}" class="form-control" id="code" placeholder="Subject_code">
            </div>
        
            <div class="form-group">
                <label for="exampleSelectGender">Status</label>
                <select id="" class="form-control"  name="status" value="" id="status">
                    <option>{{data.status}}</option>    
                    <option>Active</option>
                    <option>Deactive</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
        <div class="card-body">
          <p id="submit-name"></p>
          <p id="submit-email"></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}     
