<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic from</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    
    <fieldset>
        <legend>enquiry</legend>
    <form action="">
        Name : <input type="text" name="name" placeholder="type your name" required="" autofocus="" maxlength="20">  
        <br>
        email :
        <input type="email" name="email"/>
        <br>
        password :
        <input type="password" name="password" maxlength="20"/>
        <br>
        age :
        <input type="number" name="age" min="5" max="50"/>
        <br>
        Address : <textarea Name="address"></textarea>
        <br>
        Gender :
        <input type="radio" value="male" name="Gender" /> MALE 
        <input type="radio" value="female" name="Gender" /> FEMALE 
<br>
        <select >
                <optgroup label="ASIA">
                    <option value="">please select a country</option>
                    <option value="INDIA">INDIA</option>
                    <option value="SRI">SRI</option>
                    <option value="PSK">SRI</option>
                    <option value="BAN">BAN</option>
                </optgroup>        
        </select>
        <br>
        HOBBIES
        <input type="checkbox" name="" checked="" id="">dancing
        <input type="checkbox" name="" id="">read newspaper
        <input type="checkbox" name="" id="">sweming
        <br>
        <br>
        Image :
        <input type="file" name="imae"/>
        
        <br>
        <input type="submit" value="send"><br>
    <br><input type="reset" value="reset">
    </form>
</fieldset>
</body>
<py-script>
    print("i am asit pal")
</py-script>
</html>