<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first page of js</title>
</head>
<body>
    <pre> this is a java script code</pre>
    <!-- <div id="main"> 
        welcome to india 
        <br>
        and vilage name is belgoria
    </div> -->
    <div class="main">
        check class
    </div >
      <h2 id="res"></h2>
</body>
<!-- <script type="text/javascript">
    alert("error")
    console.log("welcome to india");
    document.write(" <h1>hello");
        document.write(" every one");
    //prompt("pleace enter your name"," asit");
    //confirm("do you want to login ?" );
    
</script> -->
<script type="text/javascript">
    //veriables

    //var name="asit";
    //let test="testing";
    //document.write(test);
    //alert("name");
    //var x=document.getElementById("main");
    //console.log(x);
        //document.getElementById("main").innerHTML="<h1> asit pal </h1>";
    //var x=document.getElementByClassNames("main");
    //console.log(x);
    //alert(x);
    
</script>

<script type="text/javascript">

    var a= 5 //"belgoria"
    var b= 6  //"surta"
    //var c="kolkata"
    //var x = a+b+c+"abcdefhij"
    var x=a-b
    document.getElementById("res").innerHTML=x
  //  alert (x);
</script>
</html>